<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Meta -->
	<meta name="description" content="Best Bharatliv Admin Dashboards" />
	<meta name="author" content="Bootstrap Gallery" />
	<link rel="canonical" href="https://www.bootstrap.gallery/" />
	<meta property="og:url" content="https://www.bootstrap.gallery" />
	<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery" />
	<meta property="og:description" content="Marketplace for Bharatliv Admin Dashboards" />
	<meta property="og:type" content="Website" />
	<meta property="og:site_name" content="Bootstrap Gallery" />
	<link rel="shortcut icon" href="assets/images/logo.png" />

	<!-- Title -->
	<title>Global Study Market Admin Dashboards</title>

	<!-- *************
			************ Common Css Files *************
		************ -->

	<!-- Animated css -->
	<link rel="stylesheet" href="assets/css/animate.css" />

	<!-- Bootstrap font icons css -->
	<link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />

	<!-- Main css -->
	<link rel="stylesheet" href="assets/css/main.min.css" />

	<!-- *************
			************ Vendor Css Files *************
		************ -->

	<!-- Scrollbar CSS -->
	<link rel="stylesheet" href="assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
</head>

<body>
	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">
		<!-- Sidebar wrapper start -->
		<nav class="sidebar-wrapper">
			<!-- Sidebar brand starts -->
			<div class="sidebar-brand">
				<a href="home.html" class="logo">
					<img src="assets/images/logo.png" alt="Admin Dashboards" />
				</a>
			</div>
			<!-- Sidebar brand starts -->

			<!-- Sidebar menu starts -->
			<div class="sidebar-menu">
				<div class="sidebarMenuScroll">
					<ul>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-house"></i>
								<span class="menu-text">Dashboards</span>
							</a>
							<!-- <div class="sidebar-submenu">
									<ul>
										<li>
											<a href="home.html" class="current-page">Analytics</a>
										</li>
										<li>
											<a href="reports.html">Reports</a>
										</li>
									</ul>
								</div> -->
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-building"></i>
								<span class="menu-text">Banners</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="banner.html">Our Banners</a>
									</li>
									<li>
										<a href="add-banner.html">Add Banners</a>
									</li>
									<!-- <li>
											<a href="products.html">Products</a>
										</li>
										<li>
											<a href="view-cart.html">Shopping Cart</a>
										</li>
										<li>
											<a href="checkout.html">Billing Details</a>
										</li>
										<li>
											<a href="customers.html">Customers</a>
										</li>
										
										<li>
											<a href="reviews.html">Reviews</a>
										</li> -->
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-megaphone"></i>
								<span class="menu-text">Team</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="team.html">Our Team</a>
									</li>
									<li>
										<a href="add-team.html">Add Team</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-grid"></i>
								<span class="menu-text">Services</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="services.html">Our Services</a>
									</li>
									<li>
										<a href="add-services.html">Add Services</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-grid"></i>
								<span class="menu-text">Countries</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="countries.html">Our Countries</a>
									</li>
									<li>
										<a href="add-countries.html">Add Countries</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-grid"></i>
								<span class="menu-text">Gallery</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="gallery.html">Our Gallery</a>
									</li>
									<li>
										<a href="add-gallery.html">Add Gallery</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-grid"></i>
								<span class="menu-text">Series Videos</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="series-video.html">Our Series Videos</a>
									</li>
									<li>
										<a href="add-series-video.html">Add Series Videos</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown active">
							<a href="#">
								<i class="bi bi-grid"></i>
								<span class="menu-text">Audio S C</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="audio-sub-categories.html">Our Audio Sub-Categories</a>
									</li>
									<li>
										<a href="add-audio-sub-categories.html">Add Audio Sub-Categories</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-camera-video"></i>
								<span class="menu-text">Videos</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="videos.html">Our Videos</a>
									</li>
									<li>
										<a href="add-videos.html">Add Videos</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-music-note"></i>
								<span class="menu-text">Audio Files</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="audios.html">Our Audio Files</a>
									</li>
									<li>
										<a href="add-audios.html">Add Audio Files</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-translate"></i>
								<span class="menu-text">Languages</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="languages.html">Our Languages</a>
									</li>
									<li>
										<a href="add-languages.html">Add Languages</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-sticky"></i>
								<span class="menu-text">Banners</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="banners.html">Our Banners</a>
									</li>
									<li>
										<a href="add-banners.html">Add Banners</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-people"></i>
								<span class="menu-text">Customers</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="customers.html">Our Customers</a>
									</li>

								</ul>
							</div>
						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-people"></i>
								<span class="menu-text">Reels</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="reels.html">Customer Reels</a>
									</li>

								</ul>
							</div>
						</li>
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-gem"></i>
								<span class="menu-text">Widgets</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="widgets.html">Widgets</a>
									</li>
									<li>
										<a href="graph-widgets.html">Graph Widgets</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-collection"></i>
								<span class="menu-text">UI Elements</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="accordions.html">Accordions</a>
									</li>
									<li>
										<a href="alerts.html">Alerts</a>
									</li>
									<li>
										<a href="buttons.html">Buttons</a>
									</li>
									<li>
										<a href="badges.html">Badges</a>
									</li>
									<li>
										<a href="cards.html">Cards</a>
									</li>
									<li>
										<a href="carousel.html">Carousel</a>
									</li>
									<li>
										<a href="dropdowns.html">Dropdowns</a>
									</li>
									<li>
										<a href="icons.html">Icons</a>
									</li>
									<li>
										<a href="modals.html">Modals</a>
									</li>
									<li>
										<a href="offcanvas.html">Off Canvas</a>
									</li>
									<li>
										<a href="progress.html">Progress Bars</a>
									</li>
									<li>
										<a href="spinners.html">Spinners</a>
									</li>
									<li>
										<a href="tabs.html">Tabs</a>
									</li>
									<li>
										<a href="tooltips.html">Tooltips</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
								</ul>
							</div>
						</li> -->
						<li class="sidebar-dropdown">
							<!-- <a href="#">
								<i class="bi bi-stickies"></i>
								<span class="menu-text">Pages</span>
							</a> -->
							<div class="sidebar-submenu">
								<ul>
									<li>
										<!-- <a href="profile.html">Profile</a> -->
									</li>
									<li>
										<!-- <a href="account-settings.html">Account Settings</a> -->
									</li>
								</ul>
							</div>
						</li>
						<!-- <li>
							<a href="calendar.html">
								<i class="bi bi-calendar4"></i>
								<span class="menu-text">Calendar</span>
							</a>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-columns-gap"></i>
								<span class="menu-text">Forms</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="form-inputs.html">Form Inputs</a>
									</li>
									<li>
										<a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
									</li>
									<li>
										<a href="form-file-input.html">File Input</a>
									</li>
									<li>
										<a href="form-validations.html">Validations</a>
									</li>
									<li>
										<a href="bs-select.html">Bootstrap Select</a>
									</li>
									<li>
										<a href="date-time-pickers.html">Date Time Pickers</a>
									</li>
									<li>
										<a href="input-mask.html">Input Masks</a>
									</li>
									<li>
										<a href="editor.html">Editor</a>
									</li>
									<li>
										<a href="form-layout1.html">Form Layout</a>
									</li>
									<li>
										<a href="form-layout2.html">Form Layout 2</a>
									</li>
									<li>
										<a href="form-layout3.html">Form Layout 3</a>
									</li>
									<li>
										<a href="form-layout4.html">Form Horizontal</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-window-split"></i>
								<span class="menu-text">Tables</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="tables.html">Tables</a>
									</li>
									<li>
										<a href="data-tables.html">Data Tables</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-pie-chart"></i>
								<span class="menu-text">Graphs &amp; Maps</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="apex.html">Apex</a>
									</li>
									<li>
										<a href="morris.html">Morris</a>
									</li>
									<li>
										<a href="maps.html">Maps</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-layout-sidebar"></i>
								<span class="menu-text">Layouts</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="layout.html">Default Layout</a>
									</li>
									<li>
										<a href="layout-grid.html">Grid Layout</a>
									</li>
									<li>
										<a href="layout-welcome.html">Welcome Layout</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li class="sidebar-dropdown">
							<a href="#">
								<i class="bi bi-x-diamond"></i>
								<span class="menu-text">Authentication</span>
							</a>
							<div class="sidebar-submenu">
								<ul>
									<li>
										<a href="login.html">Login</a>
									</li>
									<li>
										<a href="signup.html">Signup</a>
									</li>
									<li>
										<a href="error.html">Error</a>
									</li>
									<li>
										<a href="maintenance.html">Maintenance</a>
									</li>
								</ul>
							</div>
						</li> -->
						<!-- <li>
							<a href="starter-page.html">
								<i class="bi bi-hand-index-thumb"></i>
								<span class="menu-text">Link</span>
							</a>
						</li> -->
					</ul>
				</div>
			</div>
			<!-- Sidebar menu ends -->
		</nav>
		<!-- Sidebar wrapper end -->

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">
			<!-- Page header starts -->
			<div class="page-header">
				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Breadcrumb start -->
				<ol class="breadcrumb d-md-flex d-none">
					<li class="breadcrumb-item">
						<i class="bi bi-house"></i>
						<a href="home.html">Home</a>
					</li>
					<li class="breadcrumb-item">Audio Sub-Categories</li>
					<!-- <li class="breadcrumb-item breadcrumb-active" aria-current="page">Upload Organizations</li> -->
				</ol>
				<!-- Breadcrumb end -->

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">
					<!-- Search container start -->
					<div class="search-container">
						<!-- Search input group start -->
						<!-- <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search anything" />
                            <button class="btn" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div> -->
						<!-- Search input group end -->
					</div>
					<!-- Search container end -->

					<!-- Leads start -->
					<!-- <a href="orders.html" class="leads d-none d-xl-flex">
                        <div class="lead-details">
                            You have <span class="count"> 21 </span> new leads
                        </div>
                        <span class="lead-icon"><i
                                class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
                                class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
                    </a> -->
					<!-- Leads end -->

					<!-- Header actions start -->
					<ul class="header-actions">
						<li class="dropdown">
							<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown"
								aria-haspopup="true">
								<span class="user-name d-none d-md-block"></span>
								<span class="avatar">
									<img src="assets/images/image.png" alt="Admin Templates" />
									<span class="status online"></span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<!-- <a href="profile.html">Profile</a> -->
									<!-- <a href="account-settings.html">Settings</a> -->
									<a id="logoutButton">Logout</a>
								</div>
							</div>
						</li>
					</ul>
					<!-- Header actions end -->
				</div>
				<!-- Header actions ccontainer end -->
			</div>
			<!-- Page header ends -->

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">
				<!-- Content wrapper start -->
				<div class="content-wrapper">
					<!-- Row start -->
					<div class="row">
						<div class="col-sm-12 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Audio Sub-Categories Information</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-sm-6 col-12">
											<div class="card-border">
												<div class="card-border-title">
													General Information
												</div>
												<div class="card-border-body">
													<div class="row">
														<div class="col-sm-12 col-12">
															<div class="mb-3">
																<label class="form-label">Audio Sub-Category Name
																	<span class="text-red">*</span></label>
																<input type="text" class="form-control"
																	placeholder="Enter Audio Sub-Category Name" id="ImageName" />
															</div>
														</div>
														<div class="col-sm-12 col-12">
															<div class="mb-3">
																<label class="form-label">Audio Category
																	<span class="text-red">*</span></label>
																<select name="organization" id="selectOrganization"
																	class="form-control">
																	<option value="">
																		Choose your Audio Category
																	</option>
																</select>
															</div>
														</div>
														<!-- <div class="col-sm-12 col-12">
                                                                <div class="mb-0">
                                                                    <label class="form-label">Image Description <span
                                                                            class="text-red">*</span></label>
                                                                    <textarea rows="4" class="form-control"
                                                                        placeholder="Enter Image Description"
                                                                        id="ImageDescription"></textarea>
                                                                </div>
                                                            </div> -->
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-12">
											<div class="card-border">
												<div class="card-border-title">Audio Sub-Category</div>
												<div class="card-border-body">
													<!-- <div id="dropzone" class="dropzone-dark">
                                                            <form action="" class="dropzone needsclick dz-clickable"
                                                                id="demo-upload">
    
                                                                <div class="dz-message needsclick">
                                                                    <button type="file" class="dz-button">Click to
                                                                        upload.</button><br>
                                                                    <span class="note needsclick">(This is just a view
                                                                        panel. Selected image will be
                                                                        <strong>displayed</strong> here.)</span>
                                                                </div>
    
                                                            </form>
                                                        </div> -->
													<div id="dropzone" class="dropzone-dark">
														<form class="dropzone needsclick dz-clickable" id="demo-upload">
															<div class="dz-message needsclick" id="hidePortion">
																<button type="button" class="dz-button"
																	id="upload-button">
																	Click to upload.</button><br />
																<span class="note needsclick">(Dimensions :
																	<strong>100*100</strong>)</span>
															</div>
															<!-- Hidden file input -->
															<input type="file" id="file-input" accept="image/*"
																style="display: none" />
															<!-- Image preview -->
															<img id="image-preview" style="
                                    display: none;
                                    max-width: 100%;
                                    margin-top: 10px;
                                  " />
														</form>
													</div>
												</div>
											</div>
											<div class="custom-btn-group flex-end">
												<button type="button" class="btn btn-light" onclick="removeAllFields()">
													Cancel
												</button>
												<script>
													function removeAllFields() {
														document.getElementById("ImageName").value = '';
														document.getElementById("selectOrganization").value = '';
														// Clear and hide the file input
														const fileInput = document.getElementById("file-input");
														fileInput.value = ''; // Reset file input value

														// Hide the image preview
														const imagePreview = document.getElementById("image-preview");
														imagePreview.src = ''; // Clear the image source
														imagePreview.style.display = 'none'; // Hide the preview
														// Reload the page
														location.reload();
													}
												</script>
												<a href="" class="btn btn-success" id="submit-button">Add Audio Sub-Category</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->
					</div>
					<!-- Content wrapper end -->
				</div>
				<!-- Content wrapper scroll end -->
			</div>
			<!-- *************
                    ************ Main container end *************
                ************* -->
		</div>
		<!-- *************
				************ Main container end *************
			************* -->
	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/moment.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script src="assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- Main Js Required -->
	<script src="assets/js/main.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const selectOrganization = document.querySelector(
				"#selectOrganization"
			);

			// Fetch the organizations from the API
			fetch("/api/audio-categories")
				.then((response) => response.json())
				.then((data) => {
					// Check if the response contains valid data
					if (data.status && data.data) {
						const organizations = data.data;

						// Loop through the organizations and add them as options
						organizations.forEach((organization) => {
							const option = document.createElement("option");
							option.value = organization.id; // Set the value to the organization's ID
							option.textContent = organization.title; // Set the text to the organization's name
							selectOrganization.appendChild(option);
						});
					} else {
						console.error("No organizations found or data format incorrect");
					}
				})
				.catch((error) => {
					console.error("Error fetching organizations:", error);
				});
			const uploadButton = document.getElementById("upload-button");
			const fileInput = document.getElementById("file-input");
			const imagePreview = document.getElementById("image-preview");
			const hidePortion = document.getElementById("hidePortion");
			const categoryNameInput = document.getElementById("ImageName");
			// const categoryDescriptionInput = document.getElementById('ImageDescription');

			uploadButton.addEventListener("click", () => {
				fileInput.click(); // Trigger the file input click
			});

			fileInput.addEventListener("change", (event) => {
				const file = event.target.files[0]; // Get the selected file
				if (file) {
					const reader = new FileReader();

					reader.onload = (e) => {
						imagePreview.src = e.target.result; // Set the image source to the selected file
						imagePreview.style.display = "block"; // Show the image preview
						hidePortion.style.display = "none";
					};

					reader.readAsDataURL(file); // Read the file as a data URL
				}
			});

			// Add an event listener to handle form submission
			document
				.getElementById("submit-button")
				.addEventListener("click", async (event) => {
					event.preventDefault();
					const categoryName = categoryNameInput.value;
					// const categoryDescription = categoryDescriptionInput.value;
					const file = fileInput.files[0]; // Get the selected file
					const organizationID =
						document.getElementById("selectOrganization").value; // Get the selected file

					// Validation for empty fields
					if (!categoryName || !organizationID || !file) {
						Swal.fire({
							title: 'Missing Fields!',
							text: 'Please ensure that the title, organization, and image file are all provided.',
							icon: 'warning',
							confirmButtonText: 'OK'
						});
						return; // Prevent form submission if any field is missing
					}
					// console.log(file);
					// console.log(file.name);
					let obj = {
						title: categoryName,
						organizationID: organizationID,
						image: file,
					};

					// Create a FormData object
					const formData = new FormData();
					formData.append("title", categoryName);
					formData.append("audioCategoryID", organizationID);
					formData.append("image", file);

					// Log the form data contents
					formData.forEach((value, key) => {
						console.log(`${key}:`, value);
					});
					try {
						fetch("/api/audio-sub-categories/post-audio-sub-categories", {
							method: "POST",
							body: formData,
						})
							.then((res) => res.json())
							.then((data) => {
								if (data.status) {
									window.location.href = './audio-sub-categories.html'
								} else {
									Swal.fire({
										title: 'Error!',
										text: data.message,
										icon: 'error',
										confirmButtonText: 'OK'
									});
								}
							});
					} catch (error) {
						console.error("Error:", error);
						alert("An error occurred. Please try again later.");
					}
				});
		});
	</script>
	<script src="assets/js/isToken.js"></script>
</body>

</html>